* {
  box-sizing: border-box;
}

body {
  margin:0;
  font-size:1.4rem;
  font-family:arial;
  background-color:white;
}

.logo  {
  width: 10rem;
  padding-top: 1rem;
  margin:auto;
}

nav {
  text-align: center;
  padding-top: .7rem;
  padding-bottom: .7rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 100;
}
nav li {
  list-style: none;
  display: inline;
  padding-left: .5rem;
  padding-right: .5rem;
}

nav li:hover {
  font-weight: bold;
  cursor: pointer;
}


.categories ul {
  background: #DDF9FF;
  padding: 1rem;

}
.categories ul li {
  display: inline;
  padding-left: .5rem;
  padding-right: .5rem;
  font-size: 1rem;
}

.categories ul li:hover {
  font-style: italic;
  font-weight: 600;
  cursor: pointer;
}


.categories .selected {
  font-style: italic;
  font-weight: 600;
  margin-right: 2rem;
  text-decoration: underline;
}

.selected {
  font-style: italic;
  font-weight: 600;
  text-decoration: underline;
}





img {
  border:0;
  width:100%;
  height:100%;
}


ul  {
  font-size:1rem;
  text-align:center;
  list-style: none;
  padding: 0;
}


.name {
  font-style: normal;
  font-weight: 600;
}

.cost {
  font-style: italic;
  font-weight: lighter;
}

.cart {
  font-style: normal;
  font-weight: 400;
  text-decoration: underline;
}

.cart:hover {
  font-weight: 600;
  cursor: pointer;
}

#items {
  max-width:96rem;
  width:100%;
  min-height:100px;
  height:auto;
  margin:0 auto;
  background-color:white;
  box-sizing:border-box;
  padding:0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-end;
}

figure {
  width:10rem;
  height:10rem;
  display:block;
  margin:1rem .7rem 6rem .7rem;
  padding:0;
  box-sizing:content-box;
  color:black;
}

footer {
  /*background: red;*/
  padding: 1.5rem;
}

footer ul li{
  list-style: none;
  display: inline-block;
  padding: .3rem;;
}

footer ul li .icon {
  width: 2.5rem;
  height: 2.5rem;
}


@media screen and (max-width: 51.5rem) and (min-width: 26rem) {



}






@media screen and (min-width: 51.5rem) {
  #items {
    max-width:80rem;
  }
  figure {
    width:15rem;
    height:15rem;
    display:block;
    margin:1rem .7rem 6rem .7rem;
    padding:0;
    box-sizing:content-box;
    color:black;
  }

}


/*#items figure img {
  -webkit-transition:opacity 0.26s ease-out;
  -moz-transition:opacity 0.26s ease-out;
  -ms-transition:opacity 0.26s ease-out;
  -o-transition:opacity 0.26s ease-out;
  transition:opacity 0.26s ease-out;
}*/
