* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: white;
}
/*THIS IS THE STYLES FOR MOBILE HEADER*/
header {
  text-align: center;
}

nav li {
  list-style: none;
  display: inline;
}

/*THIS IS THE STYLES FOR MOBILE MAIN*/
main {
  background-color: grey;
}

.categories {
}
.categories li {
  display: inline;
}

.img-set {
  /*THIS CONTAINS ALL IMAGES IN ONE FLEXBOX*/
  display: flex;

}
.img-box {
  /*THIS CONTAINS IMAGE AND LIST ITEMS BELOW*/
  width: 10rem;
  height: 14rem;
  border-style: solid;
  border-color: black;
  overflow: none;
  text-align: center;
}

.img-box ul {
  list-style: none;
  margin: .5rem;
  padding: 0rem;
  text-align: center;
}


.img-view {
  width: 9.5rem;
  height: 9.5rem;
  border-style: solid;
  border-color: black;
  text-align: center;
  /*THIS JUST EFFECTS THE INDIVIDUAL IMAGES*/

}


@media screen and (max-width: 48rem) and (min-width: 26rem) {

  body {
    background: blue;
  }

}

@media screen and (min-width: 48rem) {

body {
  background: red;
}

}
